<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<h1>Monthly Entertainment Report</h1>

<div>
    {% if d|length==0 %}
        <h4>No Shows booked by you in this month</h4>
    {% else %}

        <h3>Hi {{user.name}}</h3>
        {% for i in d %}
            <h4>Show : {{i}}</h4>
                {% for j in d[i] %}

                    <h6>j : {{d[i][j]}}</h6>
                {% endfor %}

            {% endif %}
        {% endfor %}
<hr>


    {% endif %}
</div>



</body>
</html>
